*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Quicksand';
    font-size: 8.5px;
}

body {
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#group-section {
    width: 25%;
    height: 100%;
    background-color: rgb(22, 27, 34);
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#convey-container {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#convey-logo {
    height: 3.5rem;
    width: 3.5rem;
}

#convey-container h1 {
    font-family: 'Yatra One';
    font-size: 3rem;
    background-color: rgb(255, 206, 86);
    background-image: linear-gradient(45deg, rgb(255, 206, 86), rgb(130, 195, 95));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 0;
    padding-left: 0.5rem;
}

#group-container {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#group-img {
    height: 80%;
    border-radius: 5%;
    margin-bottom: 1rem;
}

#group-container p {
    color: yellowgreen;
    font-family: 'Quicksand';
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#close-group-container {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-group-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#close-group-btn img {
    height: 2.5rem;
}

#chat-section {
    width: 50%;
    height: 100%;
    background-color: rgb(13, 17, 23);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#chat-container {
    background-color: transparent;
    height: 82%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

#chat {
    width: 95%;
    padding: 0;
    margin: 1rem 0 1rem 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#chat li {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: rgb(33, 38, 45);
    color: rgb(215, 210, 200);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chat li div {
    align-self: stretch;
    background-color: rgb(22, 27, 34);
    margin: 0.5rem 0;
    padding: 1rem;
    font-size: 1.25rem;
}

#chat li p {
    margin: 0;
}

#msg-by {
    align-self: flex-start;
    color: rgb(255, 206, 86);
    font-style: italic;
}

#msg-time {
    align-self: flex-end;
    color: rgb(255, 206, 86);
    font-style: italic;
    letter-spacing: 0.1rem;
}

#send-msg-container {
    background-color: transparent;
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#send-msg-form {
    font-size: 1.5rem;
    margin: 1rem;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#send-msg-form img {
    width: 3rem;
    height: 3rem;
}

#chat-msg-label {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 38, 45);
}

#msg-sent {
    width: 100%;
    padding: 2rem;
    background-color: rgb(33, 38, 45);
    color: rgb(215, 210, 200);
    font-weight: bold;
    border: none;
}

#msg-sent:focus {
    outline: none;
}

#chat-image-label {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 38, 45);
    cursor: pointer;
}

#send-msg-btn {
    background-color: rgb(22, 27, 34);
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input::placeholder {
    color: rgb(215, 210, 200);
}

input {
    caret-color: yellowgreen;
}

input:-webkit-autofill {
    transition: background-color 60000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

#chat-image {
    display: none;
}

#chat-image::-webkit-file-upload-button {
    width: 5rem;
    height: 5rem;
}

#group-users-section {
    width: 25%;
    height: 100%;
    background-color: rgb(22, 27, 34);
    padding: 1%;
}

#group-users-container {
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: rgb(13, 17, 23);
}

#group-users-container p {
    align-self: flex-start;
    color: gray;
    font-weight: bold;
    margin: 1rem 2rem;
}

#group-users {
    padding: 1rem 1rem 0 2rem;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow-y: scroll;
}

#group-users li {
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: rgb(33, 38, 45);
    color: rgb(215, 210, 200);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#group-users li div {
    display: flex;
    align-items: center;
}

.group-user-img {
    height: 5rem;
    width: 5rem;
    border-radius: 5%;
    margin-right: 1rem;
}

#group-users li div span.member {
    color: black;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
    padding: 0.3rem 0.3rem 0.3rem 0.4rem;
    background-color: rgb(130, 195, 95);
}

#group-users li div span.admin {
    color: black;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
    padding: 0.3rem 0.3rem 0.3rem 0.4rem;
    background-color: rgb(255, 206, 86);
}

.make-admin-btn,
.remove-member-btn {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 38, 45);
}

.make-admin-btn-img,
.remove-member-btn-img {
    width: 4rem;
    height: 4rem;
    margin: 0 0.5rem;
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 206, 86);
    border: 0.4rem solid rgb(13, 17, 23);
}

#msg-notification {
    padding: 1rem;
    margin: 1rem 0 0 0;
    background-color: rgb(33, 38, 45);
    color: yellowgreen;
    font-family: 'Quicksand';
    font-weight: bold;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notification {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(22, 27, 34, 0.9);
    color: yellowgreen;
    font-family: 'Yatra One';
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* For adding more members */
#add-members-container {
    height: 40%;
    padding: 0 2rem;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(13, 17, 23);
}

#add-members-container p {
    color: gray;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 2rem 0;
    align-self: flex-start;
}

#add-member-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#add-member-form input {
    width: 85%;
    height: 5rem;
    background-color: rgb(33, 38, 45);
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    outline: none;
}

#add-member-btn {
    background-color: rgb(22, 27, 34);
    width: 5rem;
    height: 5rem;
    border: none;
    cursor: pointer;
    outline: none;
}

#add-member-btn img {
    height: 4rem;
    width: 4rem;
}